name: IaC Pipeline (Vagrant + Ansible + Docker)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            ansible \
            vagrant \
            virtualbox

      - name: Start Vagrant VM
        working-directory: vagrant
        run: |
          vagrant up

      - name: Run Ansible playbook
        working-directory: ansible
        run: |
          ansible-playbook -i inventory/hosts.ini playbook.yml
